
  <main id="content">
    <!-- =========={ HERO }==========  -->
    <div id="hero" class="relative py-12 jarallax">
      <!-- background parallax -->
      <img class="jarallax-img" src="{{ 'images/img-min/bg-planet.jpg' | asset_url }}" alt="title">
      <!-- background overlay -->
      <div class="absolute top-0 start-0 w-full h-full opacity-90 bg-primary-700" style="z-index:-1;"></div>

      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
          <!-- content -->
          <div class="max-w-full w-full lg:w-7/12 px-4">
            <div class="mt-0 lg:pt-6 text-center">
              <h1 class="text-2xl md:text-3xl leading-normal mb-2 font-semibold text-white">Sections Snippet</h1>    
              <hr class="block w-12 h-0.5 mx-auto my-5 bg-yellow-300 border-yellow-300">
              <p class="text-gray-100 leading-relaxed font-light text-xl mx-auto pb-2">24 category sections snippet that you are ready to use to build your site.</p>    
            </div>
          </div><!-- end content -->
        </div>
      </div>
    </div><!-- End hero -->

    <!-- =========={ SNIPPETS }==========  -->
    <div id="snippets" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- row -->
        <div class="flex flex-wrap flex-row justify-center -mx-4 text-center">
          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/headers">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Headers</h3>
                  <p class="text-gray-500">5 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/footers">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Footers</h3>
                  <p class="text-gray-500">4 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/hero">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Hero</h3>
                  <p class="text-gray-500">10 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/blogs">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Blog Sections</h3>
                  <p class="text-gray-500">5 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/brands">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Brand Sections</h3>
                  <p class="text-gray-500">3 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/contact">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Contact Sections</h3>
                  <p class="text-gray-500">3 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/content">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Content Sections</h3>
                  <p class="text-gray-500">5 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/counter">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Counter Sections</h3>
                  <p class="text-gray-500">5 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/cta">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">CTA Sections</h3>
                  <p class="text-gray-500">4 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/download">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Download Sections</h3>
                  <p class="text-gray-500">3 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/fax">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Fax Sections</h3>
                  <p class="text-gray-500">2 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/features">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Feature Sections</h3>
                  <p class="text-gray-500">3 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/newsletter">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Newsletter Sections</h3>
                  <p class="text-gray-500">3 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/portfolio">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Portfolio Sections</h3>
                  <p class="text-gray-500">3 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/pricing">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Pricing Sections</h3>
                  <p class="text-gray-500">2 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/process">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Process Sections</h3>
                  <p class="text-gray-500">2 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/progress">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Progress Sections</h3>
                  <p class="text-gray-500">2 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/reviews">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Review Sections</h3>
                  <p class="text-gray-500">2 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/services">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Service Sections</h3>
                  <p class="text-gray-500">8 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/slider">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Slider Sections</h3>
                  <p class="text-gray-500">2 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/team">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Team Sections</h3>
                  <p class="text-gray-500">3 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/video">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Video Sections</h3>
                  <p class="text-gray-500">2 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/heading">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Heading Sections</h3>
                  <p class="text-gray-500">5 Components</p>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-11/12 max-w-full sm:w-1/2 lg:w-1/3 px-4">
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex-1 p-5">
                <a href="/s/snippets/others">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Others Sections</h3>
                  <p class="text-gray-500">1 Components</p>
                </a>
              </div>
            </div>
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End snippets -->
  </main>