
  <main id="content">
    <div id="overview" class="relative py-20 md:py-24 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4">
          <div class="flex-shrink w-full max-w-full text-center lg:w-1/2 px-12 mb-6 lg:mb-0 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
            <img src="{{ 'images/img-min/404.svg' | asset_url }}" class="max-w-full h-auto mx-auto" alt="Not found"> 
          </div>
          <div class="self-center flex-shrink w-full max-w-full lg:w-1/2 px-12 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="max-box text-center lg:text-start"> 
              <h1 class="text-5xl md:text-6xl leading-normal mb-4 font-bold text-gray-800 dark:text-gray-100">Oops!</h1>
              <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2 mb-8">That page can&#39;t be found.<br>It looks like nothing was found at this location.</p>
              <a href="/s/index" class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-house-door inline-block me-2" viewBox="0 0 16 16">
                  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                </svg>Back to Home</a>
            </div>
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End Contact Form -->
  </main>