
  <main id="content">
    <!-- =========={ HERO }==========  -->
    <div id="hero" class="relative py-12 jarallax">
      <!-- background parallax -->
      <img class="jarallax-img" src="{{ 'images/img-min/bg-planet.jpg' | asset_url }}" alt="title">
      <!-- background overlay -->
      <div class="absolute top-0 start-0 w-full h-full opacity-90 bg-primary-700" style="z-index:-1;"></div>

      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
          <!-- content -->
          <div class="max-w-full w-full lg:w-7/12 px-4">
            <nav aria-label="breadcrumb">
              <ol class="flex flex-wrap justify-center bg-transparent text-sm mb-0 space-x-1">
                <li>
                  <a href="#" class="text-gray-200 hover:text-white">
                    Home
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-1 inline-block transform ltr:rotate-0 rtl:rotate-180" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 512 512"><polyline points="184 112 328 256 184 400" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-gray-200 hover:text-white">
                    Pages
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-1 inline-block transform ltr:rotate-0 rtl:rotate-180" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 512 512"><polyline points="184 112 328 256 184 400" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
                  </a>
                </li>
                <li class="hidden md:block text-white" aria-current="page">Career</li>
              </ol>
            </nav>

            <div class="mt-0 pt-6 text-center">
              <h1 class="text-2xl md:text-3xl leading-normal mb-2 font-semibold text-white">Career</h1>    
              <hr class="block w-12 h-0.5 mx-auto my-5 bg-yellow-300 border-yellow-300">       
            </div>
          </div><!-- end content -->
        </div>
      </div>
    </div><!-- End hero -->
    
    <!-- =========={ OVERVIEW }==========  -->
    <div id="overview" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 mb-12 md:mb-16">
          <div class="flex-shrink w-full max-w-full md:w-1/2 md:order-2 px-12 lg:px-16 text-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s"> 
            <img src="{{ 'images/img-min/career.svg' | asset_url }}" class="mx-auto max-w-full h-auto" alt="career"> 
          </div>
          <div class="flex-shrink w-full max-w-full md:w-1/2 md:order-1 px-4 self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="mt-6 md:mt-0"> 
              <h2 class="text-4xl leading-normal mb-2 mt-4 font-light text-gray-800 dark:text-gray-100">Get lots of <span class="font-bold">new experiences</span> by joining with our Team</h2>
              <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2 mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div><!-- end row -->

        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4">
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 wow fadeInUp" data-wow-duration="1s">
            <!-- service block -->
            <div class="p-6 mb-12 text-center border border-gray-200 rounded bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-700 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="text-primary-700 mb-4">
                <!-- icon -->
                <!-- <i class="fas fa-heart"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="3rem" height="3rem" fill="currentColor" viewBox="0 0 512 512"><path d="M352.92,80C288,80,256,144,256,144s-32-64-96.92-64C106.32,80,64.54,124.14,64,176.81c-1.1,109.33,86.73,187.08,183,252.42a16,16,0,0,0,18,0c96.26-65.34,184.09-143.09,183-252.42C447.46,124.14,405.68,80,352.92,80Z" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700 dark:text-gray-200">Comprehensive health plans</h3>
              <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <!-- service block -->
            <div class="p-6 mb-12 text-center border border-gray-200 rounded bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-700 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="text-primary-700 mb-4">
                <!-- icon -->
                <!-- <i class="fas fa-dollar"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="3rem" height="3rem" fill="currentColor" viewBox="0 0 512 512"><rect x="32" y="80" width="448" height="256" rx="16" ry="16" transform="translate(512 416) rotate(180)" style="fill:none;stroke:currentColor;stroke-linejoin:round;stroke-width:32px"/><line x1="64" y1="384" x2="448" y2="384" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="96" y1="432" x2="416" y2="432" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><circle cx="256" cy="208" r="80" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M480,160a80,80,0,0,1-80-80" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M32,160a80,80,0,0,0,80-80" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M480,256a80,80,0,0,0-80,80" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M32,256a80,80,0,0,1,80,80" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700 dark:text-gray-200">Paid volunteer time</h3>
              <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <!-- service block -->
            <div class="p-6 mb-12 text-center border border-gray-200 rounded bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-700 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="text-primary-700 mb-4">
                <!-- icon -->
                <!-- <i class="fas fa-mobile-alt"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="3rem" height="3rem" fill="currentColor" viewBox="0 0 512 512"><path d="M322,416c0,35.35-20.65,64-56,64H134c-35.35,0-56-28.65-56-64" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><path d="M336,336c17.67,0,32,17.91,32,40h0c0,22.09-14.33,40-32,40H64c-17.67,0-32-17.91-32-40h0c0-22.09,14.33-40,32-40" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><path d="M344,336H179.31a8,8,0,0,0-5.65,2.34l-26.83,26.83a4,4,0,0,1-5.66,0l-26.83-26.83a8,8,0,0,0-5.65-2.34H56a24,24,0,0,1-24-24h0a24,24,0,0,1,24-24H344a24,24,0,0,1,24,24h0A24,24,0,0,1,344,336Z" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><path d="M64,276v-.22c0-55,45-83.78,100-83.78h72c55,0,100,29,100,84v-.22" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><line x1="241" y1="112" x2="248.44" y2="175.97" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><path d="M256,480H395.31a32,32,0,0,0,31.91-29.61L463,112" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><polyline points="368 112 384 48 431 32" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="224" y1="112" x2="480" y2="112" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/></svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700 dark:text-gray-200">Healthy food and snacks</h3>
              <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 wow fadeInUp" data-wow-duration="1s">
            <!-- service block -->
            <div class="p-6 mb-12 text-center border border-gray-200 rounded bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-700 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="text-primary-700 mb-4">
                <!-- icon -->
                <!-- <i class="fas fa-search"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="3rem" height="3rem" fill="currentColor" viewBox="0 0 512 512"><circle cx="184" cy="232" r="24"/><path d="M256.05,384c-45.42,0-83.62-29.53-95.71-69.83A8,8,0,0,1,168.16,304H343.85a8,8,0,0,1,7.82,10.17C339.68,354.47,301.47,384,256.05,384Z"/><circle cx="328" cy="232" r="24"/><circle cx="256" cy="256" r="208" style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px"/></svg>

              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700 dark:text-gray-200">Generous family leave</h3>
              <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <!-- service block -->
            <div class="p-6 mb-12 text-center border border-gray-200 rounded bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-700 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="text-primary-700 mb-4">
                <!-- icon -->
                <!-- <i class="fab fa-book"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="3rem" height="3rem" fill="currentColor" viewBox="0 0 512 512"><path d="M256,160c16-63.16,76.43-95.41,208-96a15.94,15.94,0,0,1,16,16V368a16,16,0,0,1-16,16c-128,0-177.45,25.81-208,64-30.37-38-80-64-208-64-9.88,0-16-8.05-16-17.93V80A15.94,15.94,0,0,1,48,64C179.57,64.59,240,96.84,256,160Z" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="256" y1="160" x2="256" y2="448" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>

              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700 dark:text-gray-200">Learning and development</h3>
              <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <!-- service block -->
            <div class="p-6 mb-12 text-center border border-gray-200 rounded bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-700 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="text-primary-700 mb-4">
                <!-- icon -->
                <!-- <i class="fas fa-airplane"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="3rem" height="3rem" fill="currentColor" viewBox="0 0 512 512"><path d="M407.72,224c-3.4,0-14.79.1-18,.3l-64.9,1.7a1.83,1.83,0,0,1-1.69-.9L193.55,67.56A9,9,0,0,0,186.89,64H160l73,161a2.35,2.35,0,0,1-2.26,3.35l-121.69,1.8a8.06,8.06,0,0,1-6.6-3.1l-37-45c-3-3.9-8.62-6-13.51-6H33.08c-1.29,0-1.1,1.21-.75,2.43L52.17,249.9a16.3,16.3,0,0,1,0,11.9L32.31,333c-.59,1.95-.52,3,1.77,3H52c8.14,0,9.25-1.06,13.41-6.3l37.7-45.7a8.19,8.19,0,0,1,6.6-3.1l120.68,2.7a2.7,2.7,0,0,1,2.43,3.74L160,448h26.64a9,9,0,0,0,6.65-3.55L323.14,287c.39-.6,2-.9,2.69-.9l63.9,1.7c3.3.2,14.59.3,18,.3C452,288.1,480,275.93,480,256S452.12,224,407.72,224Z" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>

              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700 dark:text-gray-200">Annual travel and credit</h3>
              <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End overview-->

    <!-- =========={ OPEN POSITION }==========  -->
    <div id="open-position" class="relative py-20 md:py-24 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <!-- section header -->
      <header class="text-center mx-auto mb-12">
        <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Open</span> Positions</h2>
        <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
      </header><!-- end section header -->

      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 justify-center">
          <div class="max-w-full w-11/12 md:w-10/12 px-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="bg-primary-700 shadow-xl font-light">
              <div class="flex flex-wrap flex-row items-center text-center md:text-start p-6 border-b border-gray-200 dark:border-gray-700">
                <div class="flex-shrink w-full md:flex-shrink md:w-1/2 px-4">
                  <p class="mb-0 text-gray-100">Position</p>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 py-2 md:py-0 px-4">
                  <span class="text-gray-100">Team</span>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 px-4">
                  <span class="text-gray-100">Location</span>
                </div>
              </div>
            </div>

            <div class="bg-white dark:bg-gray-800 shadow-xl font-light mb-12">
              <div class="flex flex-wrap flex-row items-center text-center md:text-start p-6 border-b border-gray-200 dark:border-gray-700">
                <div class="flex-shrink w-full font-medium md:flex-shrink md:w-1/2 px-4">
                  <p class="mb-0">Staff Engineering</p>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 py-2 md:py-0 px-4">
                  <span>Engineering</span>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 px-4">
                  <span>San Francisco, US</span>
                </div>
              </div>

              <div class="flex flex-wrap flex-row items-center text-center md:text-start p-6 border-b border-gray-200 dark:border-gray-700">
                <div class="flex-shrink w-full font-medium md:flex-shrink md:w-1/2 px-4">
                  <p class="mb-0">Indirect Tax Manager, VAT</p>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 py-2 md:py-0 px-4">
                  <span>Finance</span>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 px-4">
                  <span>Barcelona, ES</span>
                </div>
              </div>

              <div class="flex flex-wrap flex-row items-center text-center md:text-start p-6 border-b border-gray-200 dark:border-gray-700">
                <div class="flex-shrink w-full font-medium md:flex-shrink md:w-1/2 px-4">
                  <p class="mb-0">Senior Compliance Officer</p>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 py-2 md:py-0 px-4">
                  <span>Legal</span>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 px-4">
                  <span>London, UK</span>
                </div>
              </div>

              <div class="flex flex-wrap flex-row items-center text-center md:text-start p-6 border-b border-gray-200 dark:border-gray-700">
                <div class="flex-shrink w-full font-medium md:flex-shrink md:w-1/2 px-4">
                  <p class="mb-0">Associate General Counsel, Litigation</p>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 py-2 md:py-0 px-4">
                  <span>Legal</span>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 px-4">
                  <span>Madrid, ES</span>
                </div>
              </div>

              <div class="flex flex-wrap flex-row items-center text-center md:text-start p-6 border-b border-gray-200 dark:border-gray-700">
                <div class="flex-shrink w-full font-medium md:flex-shrink md:w-1/2 px-4">
                  <p class="mb-0">UI/UX Designer</p>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 py-2 md:py-0 px-4">
                  <span>Design</span>
                </div>
                <div class="flex-shrink w-full md:flex-1 md:w-1/4 px-4">
                  <span>San Francisco, US</span>
                </div>
              </div>
            </div>

            <div class="text-center text-gray-500"><p class="mb-0">Interested in joining? <a href="/s/contact" class="hover:text-primary-700">contact us</a></p></div>
          </div>
        </div>
      </div>
    </div><!-- End open position -->
  </main>